<!DOCTYPE html>
<html lang="{{ site.lang | default: site.default_lang }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="{% link assets/css/style.scss %}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% link apple-touch-icon.png %}">
    <link rel="icon" type="image/svg+xml" href="{% link favicon.svg %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% link favicon-32x32.png %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% link favicon-16x16.png %}">
    <link rel="manifest" href="{% link site.webmanifest %}">
    <link rel="mask-icon" href="{% link safari-pinned-tab.svg %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#0fbeb9">
    <meta name="msapplication-config" content="{% link browserconfig.xml %}">
    <meta name="theme-color" content="#0fbeb9">
  </head>
  <body>
    <div id="wrapper">
      <div id="lang-selector">
        <!-- Add links to other languages -->
        <ul>
        {%- for lang in site.languages -%}
          {%- unless site.lang == lang -%}
            <li>
              {%- if lang == site.default_lang and site.default_locale_in_subfolder != true -%}
                <a href="{{ site.baseurl_root}}{{ page.url }}">
              {%- else -%}
                <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}">
              {%- endif -%}
              <img class="flag" src="{% link assets/images/{{ lang }}.svg %}" alt="{%t langs.{{ lang }} %}" height="24" width="40" /></a>
            </li>
          {%- endunless -%}
        {%- endfor -%}
        </ul>
      </div>
      <header>
        <h1><a href="{{ site.baseroot_url }}">
        {%- if site.lang == "ja-JP" -%}
          <ruby>Jeandeau Alexis<rp> (</rp><rt>ジャンドー・アレクシ</rt><rp>)</rp></ruby></a></h1>
        {%- else -%}
          Alexis Jeandeau</a></h1>
        {%- endif -%}
        <h2>{% t job_description %} 👨🏻‍💻</h2>
        <img src="{% link android-chrome-192x192.png %}" alt="Logo" />
        <!--<p>{% t site_description %}</p>-->
      </header>
      <section>
      {{ content }}
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>
